.analytic-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 12px;
  border-radius: 15px 15px 0 0;
  border: 1px solid #CFD2D8;
}

.timeline {
  @apply p-[6px] text-center text-[13px] font-[600];
}